

.emailLoggedIn{
	position: relative;
	margin-top: 10px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}


.logoutLogoContainer{
	position: absolute;
	right: 7%;
	top: 30%;
}

.logoutLogo{
	height: 20px;
	width: 20px;
	cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



#notification {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  display: none;
  animation: 1s linear infinite;
}

#notification-text{
	margin-top: 5px;
	font-size: 20px;
}

body{
	height: 100vh;
	overflow-x: hidden;
}
