@keyframes glow {
  0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
  50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  }
  100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
}


.body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	left: 0%;
	top: 0%;

}

.leftWrapper{
	width: 100%;
	margin: 0;
	height: 100vh;
	padding: 0;
	flex: 2;
	border: 2px black solid;
}

.uppperHalf{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.options{
	margin: 15px;
	display: flex;
	flex-direction: column;
}

.option{
	cursor: pointer;
	font-size: 18px;
	width: 100%;
	border: none;
	border-radius: 10%;
  margin: 5px;
  padding: 10px;
	webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
}

.option:hover{
	opacity: 0.8;
	background-color: #2980b9;
	animation: glow 1s infinite;
}

.option:active{
	opacity: 0.6;
}


.lowerHalf{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.lowerHalfContainer{
	margin: 15px;
	display: flex;
	flex-direction: column;
}

.indiFoldercontainder{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.addfolderContainer{  // folder container
	display: flex;
	justify-content: center;
	margin: 10px 10px 20px 10px;
}

.addFolderButton{
	cursor: pointer;
	width: 100%;
	border: none;
	border-radius: 10%;
  margin: 5px;
  padding: 10px;
	webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
}

.addFolderButton:hover{
	opacity: 0.8;
	background-color: #dbf2d3;
	animation: glow 1s infinite;
}

.addFolderButton:active{
	opacity: 0.6;
}

.folderDeleteImg{
	height: 30px;
	width: 30px;
	cursor: pointer;
}




.folderTextButton{
	font-size: 18px;
	width: 100%;
	border: none;
	border-radius: 10%;
  margin: 5px;
  padding: 10px;
	webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.78);
}

.folderTextButton:hover{
	opacity: 0.8;
	background-color: #2980b9;
	animation: glow 1s infinite;
}

.folderTextButton:active{
	opacity: 0.6;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.addFolderText{
	margin-top: -10px;
	font-size: 19px;
	font-weight: 600;
	padding: 7px;
	border-radius: 10px;
	webkit-box-shadow: 0px 0px 16px -10px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -10px rgba(0,0,0,0.68);

}

.addFolderInput{
	width: 80%;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
}

.addFolderInput:focus{
	outline: none;
}

.addFolderButtonOverlay {
  width: 60%;
  margin: 10px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
	webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);

}


.pageNameContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 10px -10px 10px;
	padding: 10px;
}
.pageNameText{
	font-size: 20px;
	font-weight: 600;
}



.rightWrapper{
  flex: 6;
/*  align-items: center;*/
  justify-content: center;
  overflow: scroll;
}

.emailLoggedIn{
  margin-top: 10px;
  padding: 5px;
  display: flex;
  align-items: center;

  justify-content: center;
  webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.68);
}

.emailLoggedInText{
  font-size: 17px;
  margin-top: 15px;
  color: white;
}


.selectButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
}

.addEmail{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  transition: border 0.2s, opacity 0.1s, background-color 0.1s;
}

.addEmail:hover{
  border: 1px solid black;
  background-color: #dbf2d3;
}

.addEmail:active{
  opacity: 0.6;
  border: 2px solid black;
}


.selectAllButton{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  transition: border 0.2s, opacity 0.1s, background-color 0.1s;
}

.selectAllButton:hover{
  border: 1px solid black;
  background-color: #dbf2d3;
}

.selectAllButton:active{
  opacity: 0.6;
  border: 2px solid black;
}

.addcsv{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  transition: border 0.2s, opacity 0.1s, background-color 0.1s;
}

.addcsv:hover{
  border: 1px solid black;
  background-color: #dbf2d3;
}

.addcsv:active{
  opacity: 0.6;
  border: 2px solid black;
}

.deselectAllButton{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  transition: border 0.2s, opacity 0.1s, background-color 0.1s;
}

.deselectAllButton:hover{
  border: 1px solid black;
  background-color: #d5e5ed;
}

.deselectAllButton:active{
  opacity: 0.6;
  border: 2px solid black;
}

.selectedMailTextContainer{
	display: flex;
	width: 90%;
	margin: 10px 20px 10px 20px;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: white;
	webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
}

.selectedMailText{
	padding: 10px;
	font-weight: 500;
	font-size: 17px;
}


.searchBarContainer{
	position: relative;
	margin: 10px 20px 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
/*	border: 2px black solid;*/
	display: flex;
}
/*
.searchBar{
	border: none;
	width: 90%;
	height: 35px;
	cursor: text;
	background: transparent;
	color: white;
}*/

.searchBar:focus{
	outline: none;
}

.searchLogo{
	position: absolute;
	height: 50px;
	width: 50px;
	cursor: pointer;
	left: 93%;
}



.rightWrapperText{
  padding: 10px;
  font-size: 40px;
}


.name-list {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.name-item {
  width: 70vw;
  border: none;
  border-radius: 10%;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    background-color: #d5e5ed;
    transition: border 0.2s, opacity 0.2s;
}

.name-item:hover{
  opacity: 0.9;
}
.name-item:active{
  opacity: 0.7;
  border: 1px solid black;
}



.dialog-container {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 80px;
}

.dialog-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dialog-container li button{
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.listDialog{
	margin-bottom: 10px;
	padding: 5px;
	cursor: pointer;
/*	border: 1px solid black;*/
	border-radius: 5px;
    webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}




.email-container {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  justify-content: space-between;
  webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.68);
}

.email-container:hover{
  opacity: 0.7;
}

.emailTop{
  flex: 50;
  display: flex;
  justify-content: space-between;
  margin: 5px;
/*  border: 2px black solid;*/
  flex-direction: row;

}

.emailDate {
  align-self: flex-end;

}

.emailFrom{
}

.emailMiddle{
 display: flex; 
}

.emailTo{
  margin: 5px;
}

.emailBottom  {
  flex: 50;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
/*  border: 2px black solid;*/
}

.emailSubject{
  align-self: flex-start;
  margin-bottom: 10px; 
}

.attachmentLogo{
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-bottom: 10px; 
}